@import url('https://fonts.googleapis.com/css?family=Anton%7CPoppins&display=swap');

/* 
font-family: 'Poppins', sans-serif;
font-family: 'Anton', sans-serif;
colors {
    color: #990000ff;
    color: #999999ff;
    color: #073763; 
    color: #e2ecf5;
    color: #45818e;
}
*/

colors {
    color: #990000;
    color: #999999;
    color: #073763; 
    color: #e2ecf5;
    color: #45818e;
}