@import url("https://fonts.googleapis.com/css?family=Anton%7CPoppins&display=swap");

/* font-family: 'Poppins', sans-serif;
font-family: 'Anton', sans-serif;
colors {
    color: #990000ff;
    color: #999999ff;
    color: #073763;
    color: #e2ecf5;
    color: #45818e;
} */
/* Global %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/*HEADER $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
.glyphicon {
  line-height: 30;
  color: #990000;
}

header {
  height: 100px;
  background-color: #073763;
  background: -moz-radial-gradient(circle, #999999, #45818e, #073763);
}

header h1 {
  color: #990000;
  font-family: "Anton", sans-serif;
  text-shadow: 3px 3px 5px #e2ecf5;
  font-size: 4.5em;
}

#logoImage {
  height: 95px;
}
/* Ticker &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

#tickerContainer {
  width: 100%;
  z-index: 1000;
  overflow: hidden;
}
#tickerWrap {
  width: 100%;
  padding-left: 100%;
  background-color: #073763;
}
#tickerMove {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 120s;
}
#tickerMove:hover {
  animation-play-state: paused;
}
#tickerItem {
  display: inline-block;
  padding: 0 2rem;
  color: #e2ecf5;
}



@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

/* this puts the ticker in the bottom */
.ticker-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: rgba(#000, 0.9);
  padding-left: 100%;
  box-sizing: content-box;

.ticker {
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: $duration;
            animation-duration: $duration;

    &__item {
      display: inline-block;
      padding: 0 2rem;
      font-size: 2rem;
      color: white;
    }
  }
}





/* Carousel &&&&&&&&&&&&&&&& &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
#carouselFormat {
  font-family: "Anton", sans-serif;
  color: #e2ecf5;
}

#carouselFormat p {
  font-family: "Poppins", sans-serif;
  color: #e2ecf5;
}

.carousel {
  margin-bottom: 60px;
}

.carousel-caption {
  z-index: 20;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

.carousel-inner .item {
  z-index: -90;
  width: 100%;
  height: 87vh;
  background-size: cover;
  background-position: center;
}

.main_img1 {
  background-image: url("../img/WordPressLogoBG.png");
}

.main_img2 {
  background-image: url("../img/WordPressSinking.jpg");
}

.main_img3 {
  background-image: url("../img/WorpressDesk.jpg");
}

.main_img4 {
  background-image: url("../img/WordpressCodeWarning3.png");
}

.main_logo {
  max-height: 300px;
}

/* button */

.btn-primary {
  color: #e2ecf5;
  font-family: "Anton", sans-serif;
  background-color: #45818e;
  border-color: transparent;
}

.btn-primary:hover {
  background-color: #073763;
  border-color: transparent;
}

.carousel-caption p {
  color: #e2ecf5;
  font-size: 20px;
}

/* Vulnerability Sections %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

#wordpressVulnerabilities {
  background-color: #073763;
}

#wordpressVulnerabilities h1 {
  font-family: "Anton", sans-serif;
  color: #e2ecf5;
}

#wordpressVulnerabilities p {
  font-family: "Poppins", sans-serif;
  color: #e2ecf5;
}

#wordpressInfo1 {
  background: -moz-linear-gradient(left, #45818e, #073763);
  background-color: #45818e;
  border-radius: 20px;
  margin: 10px;
}

#wordpressInfo2 {
  background: -moz-linear-gradient(right, #45818e, #073763);
  background-color: #45818e;
  border-radius: 20px;
  margin: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #073763;
}

section {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 140px 0;
}

.card {
  position: relative;
  max-width: 300px;
  height: auto;
  background: linear-gradient(-45deg, #fe0847, #feae3f);
  border-radius: 15px;
  margin: 0 auto;
  padding: 40px 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .);
  transition: 0.5s;
}

.col-sm-4:nth-child(1) .card,
.col-sm-4:nth-child(1) .card .title .fa {
  background: linear-gradient(-45deg, #f403d1, #64b5f6);
}

.col-sm-4:nth-child(2) .card,
.col-sm-4:nth-child(2) .card .title .fa {
  background: linear-gradient(-45deg, #ffec61, #f321d7);
}

.col-sm-4:nth-child(3) .card,
.col-sm-4:nth-child(3) .card .title .fa {
  background: linear-gradient(-45deg, #24ff72, #9a4eff);
}

.card:before {
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
  transform: skewY(-5deg) scale(1.5);
}

.title .fa {
  color: #fff;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.title h2 {
  position: relative;
  margin: 20px 0 0;
  padding: 0;
  color: #fff;
  font-size: 28px;
  z-index: 2;
}

.price {
  position: relative;
  z-index: 2;
}

.price h4 {
  margin: 0;
  padding: 20px 0;
  font-size: 60px;
}

.option {
  position: relative;
  z-index: 2;
}

.option ul {
  margin: 0;
  padding: 0;
}

.option ul li {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 16px;
}

.card a {
  position: relative;
  z-index: 2;
  background: #fff;
  color: #26262;
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  display: block;
  text-align: center;
  margin: 20px auto 0;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card a:hover {
  text-decoration: none;
}

/* .btncolor1 {
  position: relative;
  text-align: center;
  background: linear-gradient(-45deg, #f403d1, #64b5f6);
  border-radius: 40px;
  font-size: 20px;
  padding: 10px;
  margin: 50px;
  width: 100px;
}

.btncolor2 {
  position: relative;
  text-align: center;
  background: linear-gradient(-45deg, #ffec61, #f321d7);
  border-radius: 40px;
  font-size: 20px;
  padding: 10px;
  margin: 50px;
  width: 100px;
}

.btncolor3 {
  position: relative;
  text-align: center;
  background: linear-gradient(-45deg, #24ff72, #9a4eff);
  border-radius: 40px;
  font-size: 20px;
  padding: 10px;
  margin: 50px;
  width: 100px;
} */

.emergency {
  margin-bottom: 25px;
  text-align: center;
  padding: 0;
}

.img {
  max-height: 500px;
  max-width: 500px;
}

/* #service {
  background-image: url("../img/code.jpg");
  background-size: cover;
  background-attachment: fixed;
  z-index: 2;
} */

.service {
  background-image: url("../img/code.jpg");
  background-size: cover;
  background-attachment: fixed;
  z-index: 2;
}

.size {
  margin-bottom: 20px;
  text-align: center;
}

.btn {
  background-color: #990000;
}

h4 {
  font-family: "Anton", sans-serif;
}

.ptext {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

input {
  text-align: center;
  margin: 10px;
}

.form {
  margin-left: 39px;
}

/* .email {
  margin-left: 75px;
} */

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #45818e; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}
#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
.anton {
  font-family: "Anton", sans-serif;
  text-align: center;
  color: #990000;
  margin-bottom: 10px;
}

/* Starting Footer */
footer {
  height: 100px;
  background-color: #073763;
  background: -moz-radial-gradient(circle, #999999, #45818e, #073763);
}
.logo {
  height: 97px;
}
.words {
  font-family: "Poppins", sans-serif;
  color: #e2ecf5;
  font-size: 17px;
}
.fab {
  color: #45818e;
}
/* Ending Footer */

.grade1 {
  background: -moz-linear-gradient(left, #45818e, #073763);
  background-color: #073763;
  border-radius: 20px;
}

.grade2 {
  background: -moz-linear-gradient(right, #45818e, #073763);
  background-color: #073763;
  border-radius: 20px;
}

.space {
  margin-bottom: 20px;
}





/* Ticker/////////////////////////// */

/*Ticker ends ////////////// */
